{% extends 'layout.html' %}

{% block body %}
<div class="container home fade-in">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 col-md-8 text-center">
          <img class="img-fluid mb-2" src="/static/img/flask.png" alt="Python Flask" class="mb2">
          <img id="pyspinner" src="/static/img/python.png" alt="Python Powered">
          <p><span class="bold py-blue">Powered</span> by <span class="bold py-yellow">Python</span></p>
      </div>
    </div>
</div>
{% endblock %}